{% extends 'base.html' %} {% block content %}
<div class="justify center">
    <br>
  <h1>Welcome To Car Collectors</h1>
  <p>
    Collecting Cars is a global platform devoted to cars and
    automobilia. Our platform may be 100% online but behind the scenes we are a
    passionate team of over 1 car enthusiast who work around the clock to get
    your car in front of the most eyes.
  </p>
  <img  class="container" src="https://mcdn.wallpapersafari.com/medium/74/48/huNA1w.jpg">
</div>
{% endblock %}
